

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   h1 {
     font-size: 30px;
      text-align: center;
   }

   h2 {
     font-size: 30px;
     text-align: center;
     text-transform: uppercase;
   }

.jumbotron {
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
}

.jumbotron h1 {
  text-align: center;
}

.container p {
  text-align: center;
}

.container h1 {
  text-align: center;
}

.col-md-4 {
 font-size: 16px;
 text-align: center;
}
