

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 h1 {
     font-size: 30px;
     text-align: center;
   }

h2 {
     font-size: 30px;
     text-align: center;
     text-transform: uppercase;
   }



.container {
  max-width: 100%;
}

.col-md-4 h1 {
  font-size: 30px;
}

.topcontainer h1 {
  text-align: left;
}

.topcontainer p {
  text-align: left;
}


   .container p {
     text-align: center;
     max-width: 100%;
   }

   .container h1 {
     text-align: center;
   }

   .container h2 {
     text-align: center;
   }
